html[data-theme='light']{
    --navPrimaryTxt: #2c646a;
    --navSecondaryTxt: #6fb3b8;
}
html[data-theme='dark']{
    --navPrimaryTxt: #cccccc;
    --navSecondaryTxt: #a4a29e;
}
*{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 300;
    user-select: none;
}
.nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 3rem;
    width: 100vw;
    font-size: 1.5rem;
    position: fixed;
    z-index: 100;
}
.navItem{
    margin-right: 8vh;
    text-decoration: none;
    color: var(--navPrimaryTxt);
}
.icon{
    margin-right: 4vh;
    color: var(--navPrimaryTxt);
}
.navItem:hover{
    color: var(--navSecondaryTxt);
    border-bottom: 2px solid var(--navSecondaryTxt) ;
}
.icon:hover{
    color: var(--navSecondaryTxt);
    cursor: pointer;
}
@media screen and (max-width: 775px) and (orientation: portrait) {
    .nav{
        max-height: 3rem;
        font-size: 3vh;
        justify-content:space-between;
    }
    .navItem{
        margin-left: 2vh;
    }
    .icon{
        margin-right: 2vh;
    }
}
@media screen and (max-width: 775px) and (orientation: landscape){
    .nav{
        /* border: 2px solid black; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 2rem;
        width: 100vw;
        font-size: 1rem;
        position: fixed;
        z-index: 100;
    }
}