html[data-theme='light']{
    --bgColor: #ffffff;
    --primaryTxt: #501650;
    --secondaryTxt: #8a228a;
}
html[data-theme='dark']{
    --bgColor: #000000;
    --primaryTxt: #b3b3b3;
    --secondaryTxt: #4b4b4b;
}
.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    width: 100%;
    font-family: 'Dancing Script', cursive;
    font-size: 4vh;
    position: fixed;
}
.navItem{
    margin-right: 8vh;
    text-decoration: none;
    color: var(--primaryTxt);
}
.icon{
    margin-right: 4vh;
    color: var(--primaryTxt);
}
.navItem:hover{
    color: var(--secondaryTxt);
    border-bottom: 2px solid var(--secondaryTxt) ;
}
.icon:hover{
    color: var(--secondaryTxt);
    cursor: pointer;
}
@media screen and (max-width: 775px) and (orientation: portrait) {
    .nav{
        justify-content:space-between;
    }
    .navItem{
        margin-left: 2vh;
    }
    .icon{
        margin-right: 2vh;
    }
}