html[data-theme='light']{
    --bgColor: #ffffff;
    --primaryTxt: #024949;
    --secondaryTxt: #008080;
    --tertiaryTxt: #40E0D0;
}
html[data-theme='dark']{
    --bgColor: #171717;
    --primaryTxt: #ffffff;
    --secondaryTxt: #454545;
    --tertiaryTxt: #969696;
    --cardTxt: #171717;
}
*{
    font-family: 'Asap Condensed', sans-serif;
    font-weight: 300;
    user-select: none;
}
.nav{
    /* border: 2px solid black; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 4rem;
    width: 100vw;
    font-size: 2rem;
    position: fixed;
    z-index: 100;
}
.navItem{
    margin-right: 8vh;
    text-decoration: none;
    color: var(--primaryTxt);
}
.icon{
    margin-right: 4vh;
    color: var(--primaryTxt);
}
.navItem:hover{
    color: var(--secondaryTxt);
    border-bottom: 2px solid var(--secondaryTxt) ;
}
.icon:hover{
    color: var(--secondaryTxt);
    cursor: pointer;
}
@media screen and (max-width: 775px) and (orientation: portrait) {
    .nav{
        max-height: 3rem;
        font-size: 3vh;
        justify-content:space-between;
    }
    .navItem{
        margin-left: 2vh;
    }
    .icon{
        margin-right: 2vh;
    }
}